<section class="container list">
    <h3 class="title">Find us here</h3>
    <ul>
      <li>
        <span>Sep 26&27, 2019</span><a href="https://hardwear.io/">hardwear.io 2019, The Hague</a>
      </li>
      <li>
        <span>Oct 12-17, 2019</span><a href="https://cyberweek.ae/blackhoodie-track/">Blackhoodie @ HITB CyberWeek</a>
      </li>
      <li>
        <span>Oct 19-21, 2019</span><a href="https://www.blackhoodie.re/HackLu_schedule/">Blackhoodie @ HackLu</a>
      </li>
      <li>
        <span>Nov 7&8, 2019</span><a href="https://def.camp/">DefCamp #10</a>
      </li>
    </ul>
  </section>